# Pandas Nedir ?

In [ ]:
# Pandas açık kaynaklı ve ücretsiz veri(bilgi) işleme, manipüle etme, temizleme vb. işlemleri yapabileceğimiz oldukça efektik bir kütüphanedir.
# Pandas kütüphanesi NumPy kütüphanesi üzerine kurulmuş bir kütüphanedir.
# Pandas elimizdeki veriyi(bilgiyi) şekillendirip işlememize ve veriden ANLAMLI SONUÇLAR çıkarmamıza olanak sağlar.
# Pandas kütüphanesinin temel elemanları Series ve DataFrame'dir.
# Series ve DataFrame nesnelerini excel tabloları gibi düşünebiliriz.

# Pandas'ı Import Etme

In [1]:
# !pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Series Oluşturma

In [2]:
# import pandas
import pandas as pd

In [3]:
my_data = ['Emincan' , 'Alper' , 'Burak' , 'Dilara' , 'Zeynep']
my_data

['Emincan', 'Alper', 'Burak', 'Dilara', 'Zeynep']

In [ ]:
# pd.Series() fonksiyonu ile elimizdeki verileri Series haline getirebiliriz.

In [4]:
pd.Series(my_data)

0    Emincan
1      Alper
2      Burak
3     Dilara
4     Zeynep
dtype: object

In [5]:
my_data = [1923 , 1776 , 1876]
my_idx = ['Türkiye' , 'USA' , 'Canada' ]

In [8]:
pd.Series(my_data, my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [12]:
pd.Series(data= my_data, index= my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [ ]:
# pd.Series() fonksiyonu içerisine dictionary de alabilir. Dictionary'nin keyleri index, value'ları değer olur.

In [10]:
my_dict = {
    'Emincan' : 26,
    'Kaan' : 23,
    'Ayşe' : 21,
    'Deniz' : 29
    }

In [13]:
my_dict

{'Emincan': 26, 'Kaan': 23, 'Ayşe': 21, 'Deniz': 29}

In [14]:
pd.Series(data = my_dict)

Emincan    26
Kaan       23
Ayşe       21
Deniz      29
dtype: int64

In [ ]:
# Soru : İstanbul 15.4 , İzmir 4.3 , Ankara 5.6 , Bursa 3 şeklinde seri oluşturun. Hem liste göndererek, 
# hem de dictionary göndererek iki yöntemle de yapın.

In [15]:
my_data = [15.4 , 4.3, 5.6, 3]
my_idx = ['İstanbul' , 'İzmir' , 'Ankara' , 'Bursa']
pd.Series(my_data , my_idx)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

In [16]:
my_dict = {
    'İstanbul' : 15.4,
    'İzmir' : 4.3,
    'Ankara': 5.6,
    'Bursa' : 3
}
pd.Series(my_dict)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

# Serilerde İşlemler

In [17]:
q1 = {'Japan': 80, 'China' : 450 , 'Turkey': 150 , 'India' : 200 }
q2 = {'Japan': 90, 'China' : 420 , 'Turkey': 230 , 'India' : 195 }

In [20]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [19]:
sales_q1

Japan      80
China     450
Turkey    150
India     200
dtype: int64

In [21]:
sales_q2

Japan      90
China     420
Turkey    230
India     195
dtype: int64

In [23]:
sales_total = sales_q1 + sales_q2
sales_total

Japan     170
China     870
Turkey    380
India     395
dtype: int64

In [24]:
sales_total.index # .index attribute'ı ile bakabiliriz

Index(['Japan', 'China', 'Turkey', 'India'], dtype='object')

In [25]:
sales_total.keys() # .keys() metoduyla da indexlerine bakabiliriz.

Index(['Japan', 'China', 'Turkey', 'India'], dtype='object')

In [26]:
sales_total.values # .values attribute'ı ile serimizin değerlerine bakabiliriz.

array([170, 870, 380, 395])

In [27]:
sales_total

Japan     170
China     870
Turkey    380
India     395
dtype: int64

In [28]:
sales_total * 2

Japan      340
China     1740
Turkey     760
India      790
dtype: int64

In [29]:
sales_total / 10

Japan     17.0
China     87.0
Turkey    38.0
India     39.5
dtype: float64

In [31]:
sales_q2 - sales_q1

Japan     10
China    -30
Turkey    80
India     -5
dtype: int64

In [32]:
q1 = {'Japan': 80, 'China' : 450 , 'India': 150 , 'USA' : 200 }
q2 = {'Brazil': 90, 'China' : 420 , 'India': 230 , 'USA' : 195 }

In [33]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [34]:
sales_q1

Japan     80
China    450
India    150
USA      200
dtype: int64

In [35]:
sales_q2

Brazil     90
China     420
India     230
USA       195
dtype: int64

In [36]:
sales_q1 + sales_q2

Brazil      NaN
China     870.0
India     380.0
Japan       NaN
USA       395.0
dtype: float64

In [38]:
sales_q1.add(sales_q2 , fill_value = 0)

Brazil     90.0
China     870.0
India     380.0
Japan      80.0
USA       395.0
dtype: float64

In [39]:
sales_q1

Japan     80
China    450
India    150
USA      200
dtype: int64

In [40]:
sales_q1.dtype # .dtype attribute'ı ile serimizin içindeki verilerin tipini çekebiliriz.

dtype('int64')

In [ ]:
# Soru : 
# Fenerbahce 51 , Galatasaray 60 , Besiktas 48 , Trabzonspor 41 şeklinde league_2022 adında bir seri oluşturun.
# Fenerbahce 73 , Galatasaray 68 , Besiktas 59 , Trabzonspor 81 şeklinde league_2021 adında bir seri oluşturun.
# Fenerbahce 82 , Galatasaray 84 , Besiktas 84 , Trabzonspor 71 şeklinde league_2020 adında bir seri oluşturun.

# Bu 4 takımın son 3 yılda topladığı toplam puanları karşılaştırabileceğiniz yeni bir seri oluşturun

In [41]:
league_2022 = pd.Series(data= {'Fenerbahce' : 51 , 'Galatasaray' : 60 , 'Besiktas' : 48 , 'Trabzonspor' : 41} )
league_2021 = pd.Series(data= {'Fenerbahce' : 73 , 'Galatasaray' : 68 , 'Besiktas' : 59 , 'Trabzonspor' : 81} )
league_2020 = pd.Series(data= {'Fenerbahce' : 82 , 'Galatasaray' : 84 , 'Besiktas' : 84 , 'Trabzonspor' : 71} )

In [43]:
league_2022 + league_2021 + league_2020

Fenerbahce     206
Galatasaray    212
Besiktas       191
Trabzonspor    193
dtype: int64

In [ ]:
# Done